.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    background-color: rgb(234, 234, 234);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: hsl(223, 4%, 69%);
}

.sidebarWrapper {
    padding: 20px;
}
.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.sidebarListItem:hover {
    background-color: #d7d7d7;
    cursor: pointer;
    transition: 0.4s;
}
.sidebarListItemText {
    padding-left: 0.5rem;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #d1d1d1;
    cursor: pointer;
}
.sidebarButton:hover {
    background-color: #c5cbe7;
    transform: translateY(20%);
    transition: 0.5s;
}
.sidebarButton:not(:hover) {
    transition: 0.5s;
}
.sidebarHr {
    margin: 20px 0;
}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarFriends {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebarFriendName{
    padding-left: 10px;
}